*{
    margin 0px;
padding:0px;
}
body{
    border: solid;
    height: 600px;
    background-image:url(bg5.jpg) ;
    background-repeat: no-repeat;
    background-size: 1370px 600px;
    

    }
form{
    border: solid 1px;
    margin-left: 25px;
    margin-top: 0px;
    width: 500px;
}
label{
    color: rgba(223, 232, 231, 0.986);
    font-size: 20px;
    background-color: rgba(11, 10, 10, 0.124);
}
button{
    height: 20px;
    width: 65px;
    background-color: rgb(19, 11, 11);
    color: rgb(228, 237, 237);
    font-size: 15px;
    font-weight: bold;
    border-radius: 20px;
    p{
        color: azure;
        font-size: 20px;
        
    }
    p a{
        color: azure;

    }

}
h1{
    color: aliceblue;
}
p{
    color: aliceblue;
}